<section class="main-banner">
  <div class="container align-content-center">
    <img src="../../../assets/images/tea-main.png" alt="" class="banner-img">
  </div>
</section>

<section class="questions container">
  <h2 class="mb-4 text-center">Ответы на часто задаваемые вопросы</h2>
  <div class="accordion gap-2" id="faqAccordion">
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingOne">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#faq1"
                aria-expanded="true" aria-controls="faq1">
          Собираете ли вы подарочные боксы?
        </button>
      </h2>
      <div id="faq1" class="accordion-collapse collapse show" aria-labelledby="headingOne"
           data-bs-parent="#faqAccordion">
        <div class="accordion-body">
          Чтобы сделать заказ, выберите товар и нажмите кнопку «Купить».
        </div>
      </div>
    </div>

    <div class="accordion-item">
      <h2 class="accordion-header" id="headingTwo">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#faq2" aria-expanded="false" aria-controls="faq2">
          Сколько у вас разновидностей чая?
        </button>
      </h2>
      <div id="faq2" class="accordion-collapse collapse" aria-labelledby="headingTwo"
           data-bs-parent="#faqAccordion">
        <div class="accordion-body">
          Доступны карты Visa, MasterCard и оплата при получении.
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingThree">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#faq3" aria-expanded="false" aria-controls="faq3">
          В какой срок осуществляется доставка?
        </button>
      </h2>
      <div id="faq3" class="accordion-collapse collapse" aria-labelledby="headingThree"
           data-bs-parent="#faqAccordion">
        <div class="accordion-body">
          Вы можете вернуть товар в течение 14 дней с момента получения.
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingFour">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#faq4" aria-expanded="false" aria-controls="faq4">
          У вас обновляется ассортимент?
        </button>
      </h2>
      <div id="faq4" class="accordion-collapse collapse" aria-labelledby="headingThree"
           data-bs-parent="#faqAccordion">
        <div class="accordion-body">
          У вас обновляется ассортимент?
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingFive">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#faq5" aria-expanded="false" aria-controls="faq5">
          Какого объема у вас пачки чая?
        </button>
      </h2>
      <div id="faq5" class="accordion-collapse collapse" aria-labelledby="headingThree"
           data-bs-parent="#faqAccordion">
        <div class="accordion-body">
          Вы можете вернуть товар в течение 14 дней с момента получения.
        </div>
      </div>
    </div>
  </div>
</section>

<div class="popup position-fixed w-100 h-100 top-0 left-0 d-flex align-content-center" *ngIf="modalStatus" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">

    <div class="modal-content text-center border-0 shadow-lg p-4 position-relative bg-white">
      <div class="position-absolute top-0 end-0 me-3 text-danger fw-bold fs-3 close-btn" (click)="modalStatus = false">x</div>
      <div class="modal-body mt-2">
        <h4 class="mb-4">Посмотрите наши чайные коллекции</h4>
        <a routerLink="/catalog" class="btn btn-success btn-lg px-5" data-bs-dismiss="modal">Смотреть</a>
      </div>
    </div>
  </div>
</div>
